/* codie css digila ocean */

/* classi utility */

body {
    padding-top: 50px;
}

.jumbotron {
    background-image: url('../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-size: cover;
    margin-bottom: 0;
}

.card {
    background-color: white;

}

.p-0 {
  padding: 0 5px;
}

.py_10 {
    padding: 10px;
}

/* end classi utility  */


/* color */


.bg_white {
    background-color: white;
}

.bg_grey {
    background-color: #F3F5F9;
}

.bg_electric_blue {
    background-color: #004AFF;
}
.bg_blue {
    background-color: #00229D;
}

.bg_dark_blue {
    background-color: #031C4E;

}


/* end color */



/* navbar  */

nav {
    margin-bottom: 0 !important;
    border: none !important;
}

#logo-google {
     height: 18px;
 }

.loghi {
     background-color: #f3f5f9;
 }

.loghi img {
     width: 100%;
 }

.scale ul {
   border-left: 1px solid grey;
   padding-left: 10px;
}

.scale li {
   line-height: 4.5rem;
   list-style: none;
   color: grey;
   font-size: 2rem;
}

.riga {
   line-height: 123.23px;
}

/* end navbar */



/* section table data */

#table_data{
     background-color: blue;
     color: white;
 }

 #table_data .title{
     padding-top: 4rem;
     padding-bottom: 20px;
 }

 .border-bottom{
     border-bottom: 1px solid white;
 }

/* #table_data .row:not(:last-child) - per i bordi */

/* section table data */

/* section rockerbox */

